#feature h3 {
    margin-bottom:10px;
}
.feature_post {
    width: 90%;
    justify-content: space-between;
    margin:auto;
    align-items: flex-start;

}

.feature_title {
    color:white;
    font-family: var(--monst);
    font-size: 20px;
    margin:15px 0px;
}


/******************** */
/* POST 
/******************** */


    .feature_post img {

        object-fit: cover;
        border-radius: 80px 10px 100px 10px;
        border: 2px solid var(--orange);
    }


/******************** */
/* INFO
/******************** */
.feature_info {
    width: 30%;
}

.feature_info .top, .feature_info .middle {
    margin-bottom: 20px;
}


.feature_info h3 {
    font-family: var(--monst);
    font-size: 22px;
    margin-bottom: 5px;
    width: 100%;
}

.feature_info p {
    font-family: var(--comforta);
    margin-bottom: 10px;
}

.feature_info .bottom {
    height: 100px;
    width: 150%;
    flex-wrap: wrap;
    overflow:hidden;
}

.feature_info li {
    width: 100px;
}


/******************** */
/* BUTTONS
/******************** */
.feature_btns{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .feature_btns button {
        margin-bottom: 20px;
    }

    .feature_btns h3 {
        font-family: var(--monst);
        margin-bottom: 10px;
    }



/******************** */
/* OVERRIDE CAROUSEL-DOTS
/******************** */
.owl-carousel .owl-item img,
.feature_post img {
    width: 45%;
    margin-right: 3%;
    height: 300px;
    
}
