#Feature_Image {
    width: 100%;
    
}


.owl-carousel .owl-item img,
#Feature_Image img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 80px 10px 100px 10px;
    border: 2px solid var(--orange);
}

#Feature_Image p {
    color: var(--orange);
    font-family: var(--comforta);
    text-align:center;
}
