

#Basic_Info h5,
#Quote h5,
#VotesMapper h5 {
   margin-bottom: 3px
}

#Basic_Info div {
    margin-bottom: 20px;
}
#Basic_Info,
#Quote {
    margin-bottom:20px;

}

#Basic_Info,
#Quote {
    width:100%;
}


#Quote {
    width: 100%
}


#Basic_Info p,
#Quote p,
#VotesMapper p {
    font-family: var(--comforta)
}



