

#Basic_Info h3,
#Quote h3,
#VotesMapper h3 {
    font-family: var(--monst);
    font-size: 22px;
    margin-bottom: 5px;
    text-align: left;
}


#Basic_Info,
#Quote {
    margin-bottom:20px;

}

#Basic_Info,
#Quote {
    width:100%;
}


#Quote {
    width: 100%
}


#Basic_Info p,
#Quote p,
#VotesMapper p {
    font-family: var(--comforta)
}


