#add_form_wrapper {
    flex-direction: column;
    align-items: center;
}

#add_form_wrapper .film_strip .flex {
    height: fit-content;
}


#add_form_wrapper .form_left p{
    margin: 0px;

}

#add_form_wrapper .form_left {
    height: 100%;
}


#add_form_wrapper div.flex {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 50px;
    justify-content: space-between;
}

#add_form_wrapper form{
    width: 60%;
    margin:auto;
    height: 300px;
}

#add_form_wrapper img {
    width: 350px;
    height: 290px;
    /* border-radius: 120px 20px 20px 120px; */
    border-radius: 80px 10px 100px 10px;
    border: 2px dashed var(--orange);
    opacity:0.5;
}

#add_form_wrapper h2 {
    text-align: center;
}

#add_form_wrapper p {
    text-align: center;
    font-family: var(--comforta);
    color: var(--orange);
    margin-bottom: 30px;
}

#add_form_wrapper form input,
#add_form_wrapper form textarea
{
    margin-bottom: 20px;
    border: 2px dashed var(--orange);
    background-color: transparent;
    color: white;
    padding-left: 10px;
    width: 100%;
}

#add_form_wrapper form input {
    height: 30px;
    
}


#add_form_wrapper form textarea {
    height: 65px;
    width: 100%;
    
}





#add_form_wrapper label,
#add_form_wrapper input {
    width: 90%
}



#add_form_wrapper form .col_1, 
#add_form_wrapper form .col_2  { 
    flex-direction: column;

}

#add_form_wrapper form .col_2  { 
    padding-left: 30px;

}



#add_form_wrapper form button:first-of-type {
    margin-right: 20px;

}

/*************************** */
/* BREAKPOINT 901px
/ *************************** */
@media (max-width: 901px){
    #honorable_wrapper {
        width:100%
    }
    #honorable_wrapper h3 {
        margin-left: 20px;
        margin-top:50px;
    }
}


/*************************** */
/* BREAK POINT 769px
/*************************** */
@media(max-width: 769px){
    #add_form_wrapper .film_strip {
        flex-direction: column;
        align-items: center;
    }

    #add_form_wrapper .form_left {
        width: 100%;
    }

    #add_form_wrapper .form_left img {
        width: 100%;
    }

    #add_form_wrapper form.flex {
        margin-top: 20px;
        width: 100%;
    }

    #add_form_wrapper  form input,
    #add_form_wrapper  form textarea {
        border: 1px solid var(--orange);
    }
}



/*************************** */
/* BREAK POINT 426px
/*************************** */
@media(max-width: 426px){
    #add_form_wrapper  {
        margin-top: 120px;
        width: 100%;
    }

    #add_form_wrapper  .film_strip.flex {
        width: 90%;

    }

    #add_form_wrapper form {
        flex-direction: column;
    }

    #add_form_wrapper form .col_2 {
        padding: 0px;
    }
}

/*************************** */
/* BREAK POINT 321pz
/*************************** */
@media(max-width: 321px){
    #add_form_wrapper .film_strip {
        padding: 0px;
    }
    #add_form_wrapper .form_left img {
        width: 100%;
    }
}