#Form {
    flex-direction: column;
    align-items: center;
}

#Form  .flex {
    height: fit-content;
}
#Form h5 {
    margin-bottom: 15px;
    text-align: center;
}

#Form .form_left p{
    margin: 0px;

}

#Form .error {
    color: red;
    margin-top: -10px;
    margin-bottom: 20px;
    width: 100%;
}

#Form .form_left {
    height: 100%;
}


#Form div.flex {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 50px;
    justify-content: space-between;
}

#Form form{
    width: 60%;
    margin:auto;
    height: 300px;
}

#Form img {
    width: 350px;
    height: 290px;
    /* border-radius: 120px 20px 20px 120px; */
    border-radius: 80px 10px 100px 10px;
    border: 2px dashed var(--orange);
    opacity:0.5;
}

#Form h2 {
    text-align: center;
}

#Form p {
    text-align: center;
    font-family: var(--comforta);
    color: var(--orange);
    margin-bottom: 30px;
}

#Form form input,
#Form form textarea
{
    margin-bottom: 20px;
    border: 2px dashed var(--orange);
    background-color: transparent;
    color: white;
    padding-left: 10px;
    width: 100%;
}

#Form form input {
    height: 30px;
    border: 1px solid var(--orange);
    
}


#Form form textarea {
    height: 65px;
    width: 100%;
    resize: none;
    
    border: 1px solid var(--orange);
    
}





#Form label,
#Form input {
    width: 90%
}



#Form form .col_1, 
#Form form .col_2  { 
    flex-direction: column;

}

#Form form .col_2  { 
    padding-left: 30px;

}



#Form form button:first-of-type {
    margin-right: 20px;
    margin-bottom: 20px;

}




/*************************** */
/* BREAK POINT 1150px
/*************************** */
@media(max-width: 1150px){
    #Form .film_strip {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #Form .form_left {
        justify-content: center;
        align-items: center;
    
    }

    #Form .form_left img {
        margin:auto;
    }

    #Form form.flex {
        margin-top: 20px;
        width: 100%;
    }

    #Form img {
        width: 500px;
    }

    #Form  form input,
    #Form  form textarea {
        border: 1px solid var(--orange);
    }
}

/*************************** */
/* BREAKPOINT 586px
/ *************************** */
@media (max-width: 586px){
    #Form form {
        flex-direction: column;
    }

    
    #Form .form_left {
        width:100%;
    }

    #Form .form_left img{
        width:100%;
    }
    #Form .col_2 button,
    #Form .col_2  div{
        width: 100%;
    }

    #Form form .col_2 button {
        margin-bottom: 10px;
        margin-right: 0px;
    }



    
    #Form form .col_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

}
/*************************** */
/* BREAKPOINT 901px
/ *************************** */
@media (max-width: 901px){
    #honorable_wrapper {
        width:100%
    }
    #honorable_wrapper h3 {
        margin-left: 20px;
        margin-top:50px;
    }
}

/*************************** */
/* BREAK POINT 426px
/*************************** */
@media(max-width: 426px){
    #Form  {
        width: 100%;
    }

    #Form  .film_strip.flex {
        width: 90%;

    }

    #Form form {
        flex-direction: column;
    }

    #Form form .col_2 {
        padding: 0px;
    }
}

/*************************** */
/* BREAK POINT 321pz
/*************************** */
@media(max-width: 321px){

    #Form {
        width: 100%;
    }
    #Form .film_strip.flex {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #Form .form_left img {
        width: 100%;
    }
}