.honorable{
    height: 300px;
    width: 100%;
}

#feature_carousel {
    width:100%;
    
}

.main_title {
    margin-bottom: 30px;
}



/************************/
/* BREAKPOINT 426px    
/************************/
@media (max-width: 450px){
    #Main .main_title {
        padding: 0px 20px;
        font-size: 21px;
        text-align: center;
    }

}
