.honorable{
    height: 300px;
    width: 100%;
}

#feature_carousel {
    width:100%;
    
}

#Main .main_title {
    margin-bottom: 20px;
}

#Main .link {
    margin-bottom: 30px;
    margin-left:30px;   
    
}




/************************/
/* BREAKPOINT 700px    
/************************/
@media (max-width: 700px){
    #Main #Feature_Image #Feature_Options .feature_links h4:last-child,
    #Main #Feature_Image #Feature_Options .feature_buttons
    {
        display:none; 
}
}

/************************/
/* BREAKPOINT 426px    
/************************/
@media (max-width: 450px){
    #Main .main_title {
        padding: 0px 20px;
        font-size: 21px;
        text-align: center;
    }

}
