
/*************************** */
/* BREAK POINT 1300px
/*************************** */
@media (max-width: 1300px){
    .feature_info {
        position: relative;
        width:0px;
        right:0px;
        top:130px;
    }

    .feature_info .middle,
    .feature_info .bottom {
        display:none;
    }

    .feature_info .top {
        width: 200px;
    }
    .feature_info .top h3 {
        font-size: 20px; 
    }

    #feature_wrapper {
        width: 80%;
    }

    .carousel_item {
        width:80%
    }
    
    /*************************** */
    /* FEATURE BUTTONS
    / *************************** */
    .feature_post{
        justify-content: center;
    }

    .feature_post img {
        margin-right:25px;
    }


    /*************************** */
    /* NAV
    /*************************** */  
    .nav_right {
        width: 30%;
    }

    .inner_nav {
        width: 90%;
    }

    .nav_right button:first-child {
        margin-right: 10px;
    }
}


    /*************************** */
    /* HONORABLE
    / *************************** */
    @media (max-width: 1024){
        #honorable_wrapper {
            width:100%
        }
        #honorable_wrapper h3 {
            margin-left: 20px;
            margin-top:50px;
        }
}




/*************************** */
/* BREAK POINT 683px
/*************************** */
@media(max-width: 683px){

    /*************************** */
    /* NAV
    /*************************** */
    nav {
        height: 55px;   
    }
    .inner_nav.flex {
        flex-direction: column;
        width: 100%;
    }
    
    .inner_nav {
        justify-content: center;

    }
    .nav_left.flex {
        margin-bottom: 20px;
        width: 100%;
        justify-self: center;
        margin-top:0px;
    }
    
   
    .nav_left .heading h1 {
        font-size: 17px;
        width:fit-content;
    }
    
    .nav_left .heading p{
        width:fit-content;
        font-size:10px;
    }
    
    .nav_left img {
        height: 55px;
        margin-left: 25px;
    }

    .nav_right {
        width: 80%;
    }

    /*************************** */
    /* FEATURED
    /*************************** */

    #feature_wrapper {
        margin-top: 120px;
        width:90%;
    
    }

    .feature_info p:nth-child(2),
    .feature_info p:nth-child(3),
    .feature_btns button{
        display:none;
    }

    .feature_info,
    .feature_btns {
        width:0px;
    }

    

    .feature_post {
        padding: 10px;
        justify-content: flex-start;
        border: 3px dotted var(--orange);
        border-radius: 10px;
    }
    .feature_post img {
        width: 100%;
        align-self:flex-end;
        border-radius: 10px 10px 10px 500px;
        border:none;

    }


    .feature_btns h3 {
        width:100px;
    }

    .feature_btns{
        position: relative;
        right:232px;
        top:240px;
    }

    .feature_info {
        position:relative;
        background-color: var(--transblack);
        right: 280px;
        top:270px;
    }


    

    #footer_wrapper {
        display: none;
    }
}
