.honorable{
    width: 100%;
}

#Feature_Carousel {
    width:100%;
    
}

#Main .main_title {
    margin-bottom: 20px;
}

#Main .film_strip{
    height: 500px
}

#Main .link {
    margin-bottom: 30px;
    margin-left:29px;   
    margin-top: -15px;
}




/************************/
/* BREAKPOINT 1000px    
/************************/
@media (max-width: 1000px){
    #Main #Feature_Image #Feature_Options .feature_links a:last-child,
    #Main #Feature_Image #Feature_Options .feature_buttons{
        display:none;
    }

    #Main .main_title,
    #Main h3 {
        text-align: center;
    }

    #Main .link {
        margin-left: 0px;

    }

    
}

/************************/
/* BREAKPOINT 450px    
/************************/
@media (max-width: 450px){
    #Main .main_title {
        padding: 0px 20px;
        font-size: 18px;
        text-align: center;
    }
    #Main .film_strip {
        height: 400px;
    }

}
