nav {

    margin-bottom: 40px;
}
.nav_left {
    align-items: center;
    margin-top: -5px;  
}
    .nav_left img {
        height: 95px;
        margin-right: 15px;
        transform: rotate(-10deg);
    }

    .nav_left .heading  p {
        color:var(--orange);
        font-family: var(--comforta);
        height: 50%;
    }
    .nav_left .heading  h1{
        font-size: 25px;
        height:50%;    
        font-family: var(--monst)
    }

.nav_right {
    flex-direction: column;
    align-items: center;
}
.nav_right input {
    width: 100%;
    text-align: center;
    border:none;
}

.nav_right div {
    margin-bottom: 10px;
    justify-content: space-between;
    width: 124px;
    align-items: center;
}
.nav_right i {
    font-size: 25px;
}
.inner_nav {
    width: 80%;
    justify-content: space-between;
    margin: auto;
    align-items: center;

}

@media (max-width:655px) {

    .nav_right div {
        display:none;
    }
}

@media (max-width:530px) {

    #footer_wrapper img {
        display:none;
    }
}