
#Title h2{
    
    margin: 0px;
    color:white;
    font-family: var(--monst);
    font-size: 30px;
    text-align: center;
}

#Title p {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-family: var(--comforta);
    color: var(--orange);
    margin-bottom: 30px;
}


@media (max-width :450px){
    #Title h2 {
        font-size: 25px;
    }

    #Title p {
        font-size: 20px;
    }
}
  