
#Title h2{
    
    margin: 0px;
    color: var(--orange);
    font-family: var(--monst);
    font-size: 30px;
    text-align: center;
}

#Title p {
    margin: 0px;
    text-align: center;
    font-family: var(--comforta);
    color: var(--orange);
    margin-bottom: 30px;
}
    
    *{
        /* outline: 1px dotted red; */
    }