#view_wrapper {
    width: 70%;
    margin: auto;
}

#view_wrapper.film_strip {
    min-height: 400px;
}


#view_wrapper .bottom #Feature_Info,
#view_wrapper .bottom #Votes_Mapper {
    margin-top: 60px;
    display: none;
}

#view_wrapper .bottom #Votes_Mapper {
    width:70%px;
}

#view_wrapper .bottom #Votes_Mapper h3{
    width:500px;
}

#view_wrapper #Votes_Mapper {
    margin-bottom: 35px;
}

