#Votes_Mapper {
    width: 320px;
}
#Votes_Mapper li {
    width: 120px;
}
#Votes_Mapper .votes {
    flex-wrap: wrap;
}

#Votes_Mapper p {
    text-align: right;
}


#Votes_Mapper li.plus_votes {
    list-style: none;
    margin-left: 20px;
    color: var(--orange)
}

#Votes_Mapper li {
    list-style-position: inside;
    font-family: var(--comforta);
}

#Votes_Mapper h3,
#Votes_Mapper li {
    text-align: left;
}

