* {
    margin: 0px;
    padding: 0px;
    color:white;
    
}

:root {
    --monst: 'Montserrat', sans-serif;
    --comforta:'Comfortaa', cursive;
    --lightgold: #EDD087;
    --medgold:  rgba(218, 165, 32,0.5);
    --darkgold: #7C5E13;
    --orange: #FF9100;
    --transblack: rgb(0,0,0,0.5);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    color: white;
    font-family: var(--monst);
}

p{
    margin:0px;
}

body {
    background-image: url('./static/img/background2.jpg');
}

input {
    border-radius: 8px;
    height: 30px;
}

img {
    object-fit: cover;
}
nav {
    margin-top: 20px;
    background-color: black;
    width: 100%;
    height: 90px;
    border-top: var(--darkgold) 1px solid;
    border-bottom: var(--darkgold) 1px solid;
    align-items: center;;
    
}

.link {
    color: var(--orange)
}

i.fa-linkedin {
    color: #0077B5
}

i.fa-github {
    color:black;
}


.flex {
    display:flex;
}

.display_none {
    display:none;
}

.monst {
    font-family: var(--monst);
}

.comforta {
    font-family: var(--comforta)
}


button {
    border-radius: 8px;
    background-color: var(--lightgold);
    border: 2px solid var(--medgold);
    color: var(--transblack);
    width: 150px;
    height: 25px;
    font-weight: bold;

}

.film_strip{
    background-color: var(--transblack);
    border-top: 5px dashed var(--orange);
    border-bottom: 5px dashed var(--orange);
    height: 350px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 50px;
}